In [1]:
from topsacred import *
from pandas.io.json import json_normalize

In [9]:
ss = sacred_stats()
ss

                         TOTAL  INTERRUPTED  COMPLETED
advers.study1                5            0          5
advers.study2                5            0          5
advers.study3                5            0          5
advers.study4                5            0          5
advers.study_one_layer      41            1         40
advers.study_two_layer      90            0         90
labwatch_branin.default      3            0          3

In [3]:
coll = pymongo.MongoClient().advers.study1.runs

In [26]:
np.min(r['info']['train_losses'])

0.0038242323789745569

In [27]:
custom_cols = {
    'min_train_loss': lambda x: np.min(r['info']['train_losses']),
    'max_train_loss': lambda x: np.max(r['info']['train_losses']),
}

In [28]:
all_results = []
project = {'config': True, 'result': True}
for r in coll.find({}).sort('result'):
    entry = {k: v for k, v in r.items() if project.get(k, False)}
    for cn, cv in custom_cols.items():
        entry[cn] = cv(r)
    all_results.append(entry)

In [29]:
all_results

[{'config': {'input_dim': 2,
   'learn_rate': 0.03,
   'max_epochs': 1000,
   'net1': {'act': 'tanh',
    'delta': 0.0,
    'init': 0.1,
    'sizes': [2],
    'type': 'plain'},
   'net2': {'act': 'tanh',
    'delta': 1.0,
    'init': 1.0,
    'sizes': [2],
    'type': 'plain'},
   'nr_datapoints': 1000,
   'nr_runs': 100,
   'seed': 41302143},
  'max_train_loss': 1.0324487686157227,
  'min_train_loss': 3.7191196540357126e-15,
  'result': 2.6897025535979807e-14},
 {'config': {'input_dim': 2,
   'learn_rate': 0.03,
   'max_epochs': 1000,
   'net1': {'act': 'tanh',
    'delta': 0.0,
    'init': 0.5,
    'sizes': [2],
    'type': 'plain'},
   'net2': {'act': 'tanh',
    'delta': 1.0,
    'init': 1.0,
    'sizes': [2],
    'type': 'plain'},
   'nr_datapoints': 1000,
   'nr_runs': 100,
   'seed': 504127507},
  'max_train_loss': 2.1973779201507568,
  'min_train_loss': 1.256716085362708e-13,
  'result': 1.4602496630958642e-10},
 {'config': {'input_dim': 2,
   'learn_rate': 0.03,
   'max_epochs': 1000,
   'net1': {'act': 'tanh',
    'delta': 0.0,
    'init': 1.0,
    'sizes': [2],
    'type': 'plain'},
   'net2': {'act': 'tanh',
    'delta': 1.0,
    'init': 1.0,
    'sizes': [2],
    'type': 'plain'},
   'nr_datapoints': 1000,
   'nr_runs': 100,
   'seed': 498192256},
  'max_train_loss': 2.6217761039733887,
  'min_train_loss': 7.5527621266543998e-13,
  'result': 2.5839877721976295e-05},
 {'config': {'input_dim': 2,
   'learn_rate': 0.03,
   'max_epochs': 1000,
   'net1': {'act': 'tanh',
    'delta': 0.0,
    'init': 2.0,
    'sizes': [2],
    'type': 'plain'},
   'net2': {'act': 'tanh',
    'delta': 1.0,
    'init': 1.0,
    'sizes': [2],
    'type': 'plain'},
   'nr_datapoints': 1000,
   'nr_runs': 100,
   'seed': 754726906},
  'max_train_loss': 3.6395587921142578,
  'min_train_loss': 9.0988596639363095e-06,
  'result': 0.003039644666223467},
 {'config': {'input_dim': 2,
   'learn_rate': 0.03,
   'max_epochs': 1000,
   'net1': {'act': 'tanh',
    'delta': 0.0,
    'init': 5.0,
    'sizes': [2],
    'type': 'plain'},
   'net2': {'act': 'tanh',
    'delta': 1.0,
    'init': 1.0,
    'sizes': [2],
    'type': 'plain'},
   'nr_datapoints': 1000,
   'nr_runs': 100,
   'seed': 713565608},
  'max_train_loss': 4.9406418800354004,
  'min_train_loss': 0.0038242323789745569,
  'result': 0.03539186167297885}]

In [5]:
df = get_results(coll)
df

         result input_dim learn_rate max_epochs nr_datapoints nr_runs  \

0  3.539186e-02         2       0.03       1000          1000     100
1  3.039645e-03         2       0.03       1000          1000     100
2  2.583988e-05         2       0.03       1000          1000     100
3  1.460250e-10         2       0.03       1000          1000     100
4  2.689703e-14         2       0.03       1000          1000     100

        seed  net1                          net2
               act delta init sizes   type   act delta init sizes   type
0  713565608  tanh     0  5.0   [2]  plain  tanh     1    1   [2]  plain
1  754726906  tanh     0  2.0   [2]  plain  tanh     1    1   [2]  plain
2  498192256  tanh     0  1.0   [2]  plain  tanh     1    1   [2]  plain
3  504127507  tanh     0  0.5   [2]  plain  tanh     1    1   [2]  plain
4   41302143  tanh     0  0.1   [2]  plain  tanh     1    1   [2]  plain

In [6]:
import qgrid
qgrid.nbinstall(overwrite=True)

In [35]:
import pandas as pd
import numpy as np
randn = np.random.randn

# Set this pandas option to prevent the grid from being too big
pd.set_option('display.max_rows', 8)

# Get a pandas DataFrame containing the daily prices for the S&P 500 from 1/1/2011 - 1/1/2014
from pandas.io.data import get_data_yahoo
spy = get_data_yahoo(
    symbols='SPY',  
    start=pd.Timestamp('2011-01-01'),  
    end=pd.Timestamp('2014-01-01'),
    adjust_price=True,
)

/home/greff/venv/py3/lib/python3.4/site-packages/pandas/io/data.py:33: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [36]:
spy

,Open,High,Low,Close,Volume,Adj_Ratio
Date,,,,,,
2011-01-03,113.782936,114.582137,112.875976,114.088253,138725200,0.897979
2011-01-04,114.339686,114.375606,113.315990,114.025394,137409700,0.897979
2011-01-05,113.666202,114.689897,113.558442,114.618057,133975300,0.897979
2011-01-06,114.662958,114.788676,114.052333,114.393562,122519000,0.897979
...,...,...,...,...,...,...
2013-12-26,175.286319,175.879094,175.267208,175.783481,63365000,0.956072
2013-12-27,176.012944,176.089417,175.592270,175.773926,61814000,0.956072
2013-12-30,175.793037,175.936457,175.515783,175.745245,56857000,0.956072
2013-12-31,175.984263,176.577023,175.850399,176.577023,86119900,0.956072

In [48]:
qgrid.show_grid(spy)

In [10]:
qgrid.show_grid(ss)

In [12]:
ddf = df[['input_dim', 'result']]

In [14]:
df.columns = [' '.join(col).strip() for col in df.columns.values]

In [15]:
df

,result,input_dim,learn_rate,max_epochs,nr_datapoints,nr_runs,seed,net1 act,net1 delta,net1 init,net1 sizes,net1 type,net2 act,net2 delta,net2 init,net2 sizes,net2 type
0,3.539186e-02,2,0.03,1000,1000,100,713565608,tanh,0,5.0,[2],plain,tanh,1,1,[2],plain
1,3.039645e-03,2,0.03,1000,1000,100,754726906,tanh,0,2.0,[2],plain,tanh,1,1,[2],plain
2,2.583988e-05,2,0.03,1000,1000,100,498192256,tanh,0,1.0,[2],plain,tanh,1,1,[2],plain
3,1.460250e-10,2,0.03,1000,1000,100,504127507,tanh,0,0.5,[2],plain,tanh,1,1,[2],plain
4,2.689703e-14,2,0.03,1000,1000,100,41302143,tanh,0,0.1,[2],plain,tanh,1,1,[2],plain

In [16]:
qgrid.show_grid(df)